---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import YouTubePortrait from '../components/YouTubePortrait.astro';

//import images
import header from '../assets/jstp/jstp-1.jpg';
import banner from '../assets/jstp/jstp-2.jpg';
import rotator1 from '../assets/jstp/jstp-3.jpg';
import rotator2 from '../assets/jstp/jstp-4.jpg';
import present1 from '../assets/jstp/jstp-5.jpg';
import present2 from '../assets/jstp/jstp-6.jpg';
import rotator3 from '../assets/jstp/jstp-7.jpg';
import rotator4 from '../assets/jstp/jstp-8.jpg';
import rotator5 from '../assets/jstp/jstp-9.jpg';
import rotator6 from '../assets/jstp/jstp-10.jpg';
import rotator7 from '../assets/jstp/jstp-11.jpg';
import activity1 from '../assets/jstp/jstp-12.jpg';
import activity2 from '../assets/jstp/jstp-13.jpg';
import activity3 from '../assets/jstp/jstp-14.jpg';
import activity4 from '../assets/jstp/jstp-15.jpg';
import activity5 from '../assets/jstp/jstp-16.jpg';
import activity6 from '../assets/jstp/jstp-17.jpg';
import rotator8 from '../assets/jstp/jstp-18.jpg';
import rotator9 from '../assets/jstp/jstp-19.jpg';
import rotator10 from '../assets/jstp/jstp-20.jpg';
import rotator11 from '../assets/jstp/jstp-21.jpg';
import irondome from '../assets/jstp/jstp-22.jpg';
import gpredict1 from '../assets/jstp/jstp-23.png';
import gpredict2 from '../assets/jstp/jstp-24.jpg';
import rotator12 from '../assets/jstp/jstp-25.jpg';
import rotator13 from '../assets/jstp/jstp-26.webp';
import rotator14 from '../assets/jstp/jstp-27.webp';
import activity7 from '../assets/jstp/jstp-28.jpg';
import activity8 from '../assets/jstp/jstp-29.jpg';
import activity9 from '../assets/jstp/jstp-30.jpg';
import activity10 from '../assets/jstp/jstp-31.jpg';
import activity11 from '../assets/jstp/jstp-32.jpg';
import activity12 from '../assets/jstp/jstp-33.jpg';
import activity13 from '../assets/jstp/jstp-34.jpg';
import rotator15 from '../assets/jstp/jstp-35.jpg';
import rotator16 from '../assets/jstp/jstp-36.jpg';
---

<Layout title="JSTP | nabtang.cc เว็บไซต์ Portfolio ออนไลน์ Dek68">
    <div class="prose px-4 md:px-12 lg:px-24 overflow-visible relative">
        <h1>โครงการพัฒนาอัจฉริยภาพทางวิทยาศาสตร์สำหรับเด็กและเยาวชน : Junior Science Talent Project (JSTP) โดย สวทช.</h1>
        <figure>
            <Image src={header} alt="รูปถ่ายรวม ณ ศูนย์ฝึกอบรมธนาคารไทยพาณิชย์ หาดตะวันรอน" loading="eager"/>
            <figcaption class="mt-2 text-sm text-gray-600">รูปถ่ายรวม ณ ศูนย์ฝึกอบรมธนาคารไทยพาณิชย์ หาดตะวันรอน</figcaption>
        </figure>
        <h2>โครงการ JSTP คืออะไร</h2>
        <p>
            โครงการพัฒนาอัจฉริยภาพทางวิทยาศาสตร์สำหรับเด็กและเยาวชน หรือ JSTP (Junior Science Talent Project) 
            เป็นโครงการที่ริเริ่มโดยสำนักงานพัฒนาวิทยาศาสตร์และเทคโนโลยีแห่งชาติ (สวทช.) 
            ตั้งแต่ปี 2540 เพื่อส่งเสริมและพัฒนาเด็กและเยาวชนผู้มีความสามารถพิเศษทางด้านวิทยาศาสตร์และเทคโนโลยี 
            โดยมุ่งหวังที่จะค้นหาและสนับสนุนผู้ที่มีศักยภาพในการเป็นนักวิทยาศาสตร์และนักวิจัย ผ่านกิจกรรมต่าง ๆ 
            เช่น ค่ายวิทยาศาสตร์ การทำโครงงานวิทยาศาสตร์ 
            และการมีนักวิทยาศาสตร์พี่เลี้ยงเพื่อเสริมสร้างทักษะและประสบการณ์ที่จำเป็นในการพัฒนาไปสู่อาชีพในด้านนี้ต่อไป
            <a href="https://www.nstda.or.th/jstp/" target="_blank" class="text-emerald-600" rel="noopener noreferrer">ศึกษาเพิ่มเติม</a>
        </p>
        <h3>วัตถุประสงค์ของโครงการ</h3>
        <ol>
          <li>
            <strong>ปลูกฝังให้เด็กและเยาวชนสนใจทางวิทยาศาสตร์และเทคโนโลยี</strong>และเข้าใจถึงบทบาทของวิทยาศาสตร์ 
            และเทคโนโลยีต่อความเจริญก้าวหน้าของประเทศชาติและมนุษยชาติตลอดจนมีความเข้าใจและใฝ่รักวิชาชีพนักวิทยาศาสตร์ นักเทคโนโลยี และนักวิจัย
          </li>
          <li>เพิ่มจำนวนนักวิทยาศาสตร์ นักเทคโนโลยีและนักวิจัยที่มีคุณภาพเป็นที่ยอมรับในระดับประเทศและระดับนานาชาติ</li>
          <li>สร้างกลไกและระบบในการเสาะหา คัดเลือก และบ่มเพาะ ผู้มีความสามารถพิเศษ และผู้มีอัจฉริยภาพ ทางวิทยาศาสร์และเทคโนโลยี ให้มีศักยภาพสูงสุด</li>
        </ol>
        <figure class="max-w-[500px]">
            <Image src={banner} alt="ประกาศรับสมัครโครงการ JSTP รุ่นที่ 26 ประจำปี พ.ศ. 2566"
            widths={[800, banner.width]}  sizes={`(max-width: 768px) 800px, ${banner.width}px`}/>
            <figcaption class="mt-2 text-sm text-gray-600">ประกาศรับสมัครโครงการ JSTP รุ่นที่ 26 ประจำปี พ.ศ. 2566</figcaption>
        </figure>
        <h3>ระดับของโครงการ</h3>
        <li><strong>ระดับผู้มีความสามารถพิเศษ (Gifted and Talented Children): </strong>
            คัดเลือกเด็กและเยาวชนระดับมัธยมศึกษาจำนวนปีละประมาณ 50 คน เพื่อเข้าร่วมกิจกรรมส่งเสริมประสบการณ์และพัฒนาศักยภาพ
        </li>
        <li><strong>ระดับผู้มีแววอัจฉริยภาพ (Genius): </strong>
            คัดเลือกจากกลุ่มแรกปีละประมาณ 7 คน เพื่อรับการสนับสนุนระยะยาวจนสำเร็จการศึกษาระดับปริญญาเอก
        </li>

        <h2>ทำไมถึงอยากเข้าโครงการ JSTP</h2>
        <p>
          เพราะการเข้าร่วมโครงการ JSTP เป็นโอกาสสำคัญสำหรับผมในการพัฒนาทักษะทางเทคนิคและรับคำแนะนำจากผู้ใหญ่และผู้เชี่ยวชาญในสาขาวิศวกรรมที่มีประสบการณ์
          การเรียนรู้จากประสบการณ์ของพวกท่านจะช่วยเสริมสร้างประสิทธิภาพของโปรเจคที่ผมทำอยู่ รวมถึงสร้างความมั่นใจในการทดลองและพัฒนาแนวคิดใหม่ๆ 
          ผมเชื่อว่าการมีผู้ใหญ่ที่คอยสนับสนุนจะทำให้ประสบการณ์ในโครงการนี้มีคุณค่า และสร้างพื้นฐานที่แข็งแกร่งสำหรับอนาคตของผม
        </p>

        <h2>โครงงานของผม</h2>
        <p>
            โครงงานของผมเองทำเกี่ยวกับการประกอบ <strong>แขนกลสำหรับติดตามดาวเทียมกิจการวิทยุสมัครเล่น</strong> ที่จะทำหน้าที่ติดตามดาวเทียม
            ที่โคจรเข้ามาในน่านฟ้าประเทศไทย รวมถึงการทดสอบประสิทธิภาพของแขนกลดังกล่าว ให้อยู่ในเกณฑ์ที่จะสามารถนำไปใช้งานได้จริงต่อไปในอนาคต
        </p>

        <YouTubePortrait src="https://www.youtube.com/embed/NNtLvRwBU8A?si=GEkDEPYENAvl7-Ap" 
        description="คลิปแนะนำแขนกลเบื้องต้น"/>

        <!-- Buttons -->
        <div class="flex space-x-8">
            <!-- Left Column with Buttons -->
            <div class="flex flex-col space-y-4">
              <!-- Button 1 -->
              <a href="/resources/JSTP_Complete_Project_Report_Form.pdf" target="_blank" class="bg-blue-500 text-white px-6 py-3 rounded-lg hover:bg-blue-600 transition no-underline hover:underline">
                ดูแบบฟอร์มรายงานโครงานฉบับสมบูรณ์
              </a>
              <!-- Button 2 -->
              <a href="/resources/JSTP_Project_Summary_V2.pdf" target="_blank" class="bg-green-500 text-white px-6 py-3 rounded-lg hover:bg-green-600 transition no-underline hover:underline">
                ดูโปสเตอร์โครงงาน (สรุปโครงงานฉบับย่อ)
              </a>
            </div>
          </div>

        <h3>ที่มาของโครงงาน</h3>
        <p>
            ในปัจจุบัน เทคโนโลยีที่เกี่ยวข้องกับการติดตามดาวเทียมสำหรับวิทยุสมัครเล่นยังคงเป็นสิ่งที่ไม่ค่อยได้รับความนิยมในประเทศไทยอย่างแพร่หลาย  
            ซึ่งหนึ่งในปัญหาหลักคือราคาที่สูงของแขนกลที่ถูกออกแบบมาเพื่อการใช้งานเชิงพาณิชย์
            ทำให้นักวิทยุสมัครเล่นที่ต้องการติดต่อกับดาวเทียมต้องถือสายอากาศทิศทางที่มีน้ำหนักมาก 
            และต้องชี้สายอากาศไปยังดาวเทียมด้วยตนเอง ซึ่งทำให้การติดต่อกับดาวเทียมวงโคจรต่ำมีความยากลำบาก 
            เนื่องจากดาวเทียมมีความเร็วสูงเมื่อเปรียบเทียบกับดาวเทียมในวงโคจรสูง ทำให้การติดตามดาวเทียมด้วยมือมีความแม่นยำต่ำ 
        </p>
        <p>
            เพื่อแก้ไขปัญหาที่กล่าวมาข้างต้น ผมมีความตั้งใจที่จะพัฒนาโครงงานที่เกี่ยวข้องกับการติดตามดาวเทียมในรูปแบบที่สามารถประกอบขึ้นได้เองที่บ้าน โดยใช้วัสดุและอุปกรณ์ที่มีต้นทุนต่ำ
            ลดการนำเข้าอุปกรณ์จากต่างประเทศ สามารถพกพาได้สะดวก และเพิ่มประสิทธิภาพให้ตรงตามเกณฑ์ที่ตั้งไว้ เพื่อให้นำไปใช้งานได้จริงต่อไปในอนาคต
        </p>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 max-w-[650px]">
            <figure class="lg:max-w-[300px]">
              <Image src={rotator1} alt="รูปรวม" height={800} />
              <figcaption class="mt-2 text-sm text-gray-600">รูปภาพการ Setup แขนกล (1)</figcaption>
            </figure>
            
            <figure class="lg:max-w-[300px]">
              <Image src={rotator2} alt="รูปรวม" height={800} />
              <figcaption class="mt-2 text-sm text-gray-600">รูปภาพการ Setup แขนกล (2)</figcaption>
            </figure>
          </div>
        <h3>ความสำคัญของโครงงาน</h3>
        <p>
          โครงงานนี้ยังสามารถนำไปประยุกต์ใช้ในกิจการด้านอื่นๆได้อีก ที่ต้องการความแม่นยำในการติดตาม 
          เช่น การติดตามเครื่องบิน ทั้งเครื่องบินพาณิชย์ เรือเดินสมุทร หรือ พัฒนาไปในระบบที่ใหญ่ขึ้นเช่นทางด้านความปลอดภัยของประเทศ 
          เช่น ติดตามเครื่องบินรบ เป็นพื้นฐานที่สำคัญในการสร้างปืนต่อสู้อากาศยาน , การติดต่อสื่อสารทางไกล ที่แม่นยำและรวดเร็ว, 
          ข้อมูลทางด้านภูมิศาสตร์และสภาพอากาศที่นำมาปรับใช้กับการเพาะปลูกและการเกษตรกรรม รวมไปถึงการติดตามอากาศยานไร้คนขับสำหรับฉีดปุ๋ย 
          ยาฆ่าแมลง หรืองานสำรวจพืชผลทางการเกษตร หรืองานอื่นๆที่เป็นอันตรายต่อมนุษย์ ซึ่งสามารถประยุกต์แขนกล 
          และระบบนี้ทดแทนแรงงานจากมนุษย์ได้เช่นกัน
        </p>
        <p>
          ตัวอย่างที่เด่นชัดคือระบบ Iron Dome ของอิสราเอล ซึ่งเป็นระบบป้องกันภัยทางอากาศที่สามารถตรวจจับและตอบสนองต่อการโจมตีจากขีปนาวุธได้อย่างรวดเร็ว 
          ระบบนี้ไม่เพียงแต่ช่วยปกป้องประชาชนจากภัยคุกคาม แต่ยังแสดงให้เห็นถึงความสำคัญของการติดตามและการควบคุมที่แม่นยำในยุคปัจจุบัน
        </p>
        <figure class="max-w-[400px]">
          <Image src={irondome}  alt="Israel's Iron Dome air defense system, Operations Guardian of the Walls, 2021" width={800}/>
          <figcaption class="mt-2 text-sm text-gray-600">
            ระบบป้องกันภัยทางอากาศ Iron Dome ของอิสราเอล, ปฏิบัติการ Guardian of the Walls, ปี 2021 <br>
            <a href="https://creativecommons.org/licenses/by-sa/3.0" 
            title="Creative Commons Attribution-Share Alike 3.0">CC BY-SA 3.0</a>, 
            <a href="https://commons.wikimedia.org/w/index.php?curid=117478772">รูปภาพจากวิกิพีเดีย</a>
          </figcaption>
        </figure>
        <h3>หลักการทำงานของแขนกล</h3>
        <figure class="max-w-[800px]">
          <Image src={rotator11} alt="แผนผังการทำงานของแขนกล"/>
          <figcaption class="mt-2 text-sm text-gray-600">แผนผังการทำงานของแขนกล</figcaption>
        </figure>
        <p>
          กระบวนการทำงานทั้งหมดของแขนกลจะเริ่มต้นที่โปรแกรมติดตามดาวเทียมและควบคุมแขนกลที่ทำงานผ่านคอมพิวเตอร์ 
          โดยในโครงงานของผมเลือกใช้ <a href="https://oz9aec.dk/gpredict/" target="_blank" class="text-emerald-600" rel="noopener noreferrer">Gpredict</a> 
          เพราะเป็นซอฟต์แวร์โอเพ่นซอร์สที่ได้รับการพัฒนาอย่างต่อเนื่อง มี User Interface ที่สวยงาม 
          รองรับการปรับเปลี่ยนตามความต้องการได้หลากหลาย และสามารถทำงานบนระบบปฏิบัติการ Linux ได้
        </p>
        <figure class="max-w-[500px]">
          <Image src={gpredict1} alt="ตัวอย่างภาพหน้าจอของโปรแกรม Gpredict" />
          <figcaption class="mt-2 text-sm text-gray-600">ตัวอย่างภาพหน้าจอของโปรแกรม Gpredict<br>
            <a href="https://creativecommons.org/licenses/by-nc/2.0/" 
            title="Creative Commons NonCommercial 2.0">CC BY-NC 2.0</a>, 
            <a href="https://oz9aec.dk/gpredict/screenshots.php">รูปภาพจากเว็บไซต์ Gpredict</a>
          </figcaption>
        </figure>
        <p>
          ตัวโปรแกรมจะทำการดาวน์โหลดชุดข้อมูล Two Line Element (TLE) จากอินเทอร์เน็ต เพื่อใช้ในการคำนวนตำแหน่งดาวเทียมในปัจจุบัน
          เมื่อดาวเทียมที่เราต้องการติดตามโคจรผ่านบริเวณสถานีที่เราป้อนค่าตำแหน่งเอาไว้ โปรแกรมก็จะทำการประกาศตำแหน่งของดาวเทียมบนท้องฟ้าในหน่วยดีกรี
          ไปยังระบบเน็ตเวอร์ค ตามที่เราได้ตั้งค่าเอาไว้ในหน้าต่าง Rotator Controller ของโปรแกรม ในที่นี้ผมได้ตั้งให้เป็นไอพีของ localhost พอร์ต 4533
          เพื่อเชื่อมต่อพูดคุยกับโปรแกรม Hamlib ต่อไป
        </p>
        <figure class="max-w-[250px]">
          <Image src={gpredict2} alt="หน้าต่าง Rotator Controller"/>
          <figcaption class="mt-2 text-sm text-gray-600">หน้าต่าง Rotator Controller</figcaption>
        </figure>
        <p>
          เมื่อโปรแกรม <a href="https://hamlib.github.io/" target="_blank" class="text-emerald-600" rel="noopener noreferrer">Hamlib</a> ได้รับตำแหน่งดาวเทียมจากโปรแกรม Gpredict แล้ว
          ตัวโปรแกรมก็จะทำการแปลงรูปแบบการส่งพิกัดใหม่ให้สามารถทำงานร่วมกับบอร์ดควบคุม และทำการส่งข้อมูลแบบ Serial
          ไปยังพอร์ต COM ที่บอร์ดควบคุมเชื่อมต่อกับคอมพิวเตอร์อยู่ 
        </p>
        <p>
          เมื่อบอร์ดควบคุมรับตำแหน่งของดาวเทียมได้แล้วก็จะทำการขับ Stepper Motor ไปยังตำแหน่งดังกล่าวและรายงานโปรแกรม Gpredict ต่อไป 
          ในโครงงานนี้ผมได้ดัดแปลงและเลือกใช้ Arduino Uno ร่วมกับ CNC Shield V3 และตัวขับ Stepper Motor A4988 เป็นบอร์ดควบคุมแขนกล
          <a href="/resources/Satnogs-Rotator-Firmware-FlowChart.svg" 
          target="_blank" class="text-emerald-600" rel="noopener noreferrer">
          สามารถดู Flow Chart ของ Firmware บอร์ดควบคุมแขนกลได้ที่นี่</a>
        </p>
        <figure class="max-w-[500px]">
          <Image src={rotator12} alt="อุปกรณ์ประกอบบอร์ดควบคุมแขนกล" width={800}/>
          <figcaption class="mt-2 text-sm text-gray-600">อุปกรณ์ประกอบบอร์ดควบคุมแขนกล</figcaption>
        </figure>
        <p>
          เมื่อสามารถติดตามดาวเทียมได้แล้ว ก็สามารถติดต่อและรับส่งข้อมูลกับดาวเทียมได้ผ่านสายอากาศ ในครั้งนี้ ผมติดต่อดาวเทียมกิจการวิทยุสมัครเล่น
          โดยใช้สายอากาศทิศทางยากิ VHF/UHF ที่สามารถส่งและรับได้ 2 ย่านความถี่ และใช้ SDR (Software Defined Radio) ในการประมวลผลข้อมูล
          ในคอมพิวเตอร์ต่อไป
        </p>
        <h3>การประกอบแขนกล</h3>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-2">
          <figure class="max-w-[500px]">
            <Image src={rotator13} alt="โมเดลแขนกลต้นแบบ ในโปรแกรม FreeCAD"/>
            <figcaption class="mt-2 text-sm text-gray-600">โมเดลแขนกลต้นแบบ ในโปรแกรม FreeCAD</figcaption>
          </figure>
          <figure class="max-w-[500px]">
            <Image src={rotator14} alt="Stepper Motor ที่ใช้ในแขนกล"/>
            <figcaption class="mt-2 text-sm text-gray-600">Stepper Motor ที่ใช้ในแขนกล</figcaption>
          </figure>
          <figure class="max-w-[500px]">
            <Image src={rotator8} alt="รูปรวม" width={800} />
            <figcaption class="mt-2 text-sm text-gray-600">This is a description text below the image.</figcaption>
          </figure>
          <figure class="max-w-[500px]">
            <Image src={rotator9} alt="รูปรวม" width={800} />
            <figcaption class="mt-2 text-sm text-gray-600">This is a description text below the image.</figcaption>
          </figure>        
          <figure class="max-w-[500px]">
            <Image src={rotator10} alt="ทดสอบการหมุนของ Stepper Motor โดยใช้บอร์ด CNC Shield V3" width={500} />
            <figcaption class="mt-2 text-sm text-gray-600">ทดสอบการหมุนของ Stepper Motor โดยใช้บอร์ด CNC Shield V3</figcaption>
          </figure>        <figure>
            <Image src={rotator2} alt="รูปรวม" width={300} />
            <figcaption class="mt-2 text-sm text-gray-600">This is a description text below the image.</figcaption>
          </figure>
          <figure class="max-w-[500px] sm:max-w-[300px]">
            <Image src={rotator3} alt="รูปรวม" height={800} />
            <figcaption class="mt-2 text-sm text-gray-600">This is a description text below the image.</figcaption>
          </figure>
          <figure class="max-w-[500px] sm:max-w-[300px]">
            <Image src={rotator16} alt="รูปรวม" height={800} />
            <figcaption class="mt-2 text-sm text-gray-600">This is a description text below the image.</figcaption>
          </figure>
        </div>
        <h3>การทดสอบแขนกล</h3>
        <p>
            สำหรับการทดสอบแขนกลที่ผมได้ประกอบขึ้นมาในโครงงานนี้ จะมีอยู่ 4 การทดสอบด้วยกัน ได้แก่:
            <li><strong>การทดสอบการเคลื่อนที่จากตำแหน่งปัจจุบันไปยังตำแหน่งเริ่มต้น</strong>ได้ถูกต้องแม่นยำ  ได้ทำการสั่งให้แขนกลเคลื่อนที่จากตำแหน่งปัจจุบันไปยังตำแหน่งเริ่มต้น เปรียบเทียบกับค่าที่วัดได้ และหาค่าเฉลี่ยจากการทดลองทั้งหมด 50 รอบ </li>
            <li><strong>การทดสอบโดยเริ่มจากตำแหน่งสุ่มไปยังตำแหน่งที่ต้องการ</strong> โดยเริ่มจากตำแหน่งที่สุ่มเอาไว้ เปรียบเทียบกับค่าที่วัดได้ และหาค่าเฉลี่ยจากการทดลองทั้งหมด 20 รอบ</li>
            <li><strong>การทดสอบวัดแรงดึงที่แขนกลสามารถทำได้</strong> โดยกำหนดให้ตำแหน่งวัด ห่างจากจุดหมุน ระยะ 1 เมตร จากนั้นจึงเพิ่มน้ำหนักขึ้นครั้งละ 0.5 กิโลกรัม และทำการบันทึกผล</li>
            <li><strong>การทดสอบนำไปใช้งานจริงและอ่านค่าสัญญาณที่ได้รับจากดาวเทียม</strong> โดยนำแขนกลไปติดตั้งใช้งานจริง และวัดระดับสัญญาณจากดาวเทียม แล้วบันทึกค่าที่ได้รับ</li>
        </p>

        <h3>การทดสอบโดยเริ่มจากตำแหน่งสุ่มไปยังตำแหน่งที่ต้องการ</h3>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 max-w-[650px]">
          <YouTubePortrait src="https://www.youtube.com/embed/4Wigyr9ZIMs?si=lcaXaS3394Y1eeH9" 
          description="สาธิตการควบคุมแกน Elevation ของแขนกล"/>
          <YouTubePortrait src="https://www.youtube.com/embed/ECzMzBs-YxQ?si=YUTQLsAHGuUjF590" 
          description="สาธิตการควบคุมแกน Azimuth ของแขนกล"/>
        </div>

        <h3>การทดสอบวัดแรงดึงที่แขนกลสามารถทำได้</h3>
        <YouTubePortrait src="https://www.youtube.com/embed/wXKZXVMNWiA?si=zQHYgvGXjHrLC7rk" 
        description="สาธิตการทดสอบวัดแรงดึงที่แขนกลสามารถทำได้"/>

        <h3>ทดสอบเคลื่อนที่จากจุดใดๆไปยังตำแหน่งเริ่มต้น (Homing Test)</h3>
        <YouTubePortrait src="https://www.youtube.com/embed/AWzMFxUn6Ek?si=CTutOGwMlkcxRghM" 
        description="สาธิตการทดสอบเคลื่อนที่จากจุดใดๆไปยังตำแหน่งเริ่มต้น"/>

        <h3>การทดสอบนำไปใช้งานจริงและอ่านค่าสัญญาณที่ได้รับจากดาวเทียม</h3>
        <YouTubePortrait src="https://www.youtube.com/embed/kdDQrZkj9gA?si=uQQ6ECqMYvwE0aT_" 
        description="ทดลองใช้งานแขนกลจริง"/>

        <h3>นักวิทยาศาสตร์พี่เลี้ยง</h3>
        <p>
          นักวิทยาศาสตร์พี่เลี้ยงของผมคือ คุณอภิวัฒน์ จิรวัฒนผล ประธานเจ้าหน้าที่บริหารบริษัท เอ็นบีสเปซ จำกัด (นักวิทยุสมัครเล่น สัญญานเรียกขาน HS4SCI)
        </p>
        <p>
          NBSpace คือบริษัทสตาร์ทอัพภายใต้การสนับสนุนจาก มจพ. ที่มีความเชี่ยวชาญเกี่ยวกับการสร้างอะไหล่ชิ้นส่วนสำหรับประกอบดาวเทียมขนาดเล็กให้กับนานาชาติ
          ปัจจุบัน บริษัทได้พัฒนาเทคโนโลยีที่ก้าวหน้าอย่างต่อเนื่องเพื่อยกระดับประสิทธิภาพและความทนทานของชิ้นส่วน 
          ทำให้สามารถตอบสนองต่อความต้องการของตลาดอุตสาหกรรมอวกาศระดับสากล
        </p>
        <div class="grid grid-cols-1 sm:grid-cols-3 gap-2">
          <figure class="max-w-[500px] sm:max-w-[300px]">
            <Image src={rotator5} alt="รูปรวม" height={800} />
            <figcaption class="mt-2 text-sm text-gray-600">This is a description text below the image.</figcaption>
          </figure>
          <figure class="max-w-[500px] sm:max-w-[300px]">
            <Image src={rotator4} alt="รูปรวม" height={800} />
            <figcaption class="mt-2 text-sm text-gray-600">This is a description text below the image.</figcaption>
          </figure>
          <figure class="max-w-[500px] sm:max-w-[300px]">
            <Image src={rotator15} alt="รูปรวม" height={800} />
            <figcaption class="mt-2 text-sm text-gray-600">This is a description text below the image.</figcaption>
          </figure>
          </div>

          <div class="grid grid-cols-1 sm:grid-cols-2 gap-2">
          <figure>
              <Image src={rotator6} alt="รูปรวม" width={800} />
              <figcaption class="mt-2 text-sm text-gray-600">This is a description text below the image.</figcaption>
          </figure>
          <figure class="max-w-[500px]">
            <Image src={rotator7} alt="รูปรวม" height={800} />
            <figcaption class="mt-2 text-sm text-gray-600">This is a description text below the image.</figcaption>
          </figure>
        </div>

        <h2>กิจกรรมนำเสนอความก้าวหน้า</h2>
        <p>
            กิจกรรมนำเสนอความก้าวหน้าในโครงการพัฒนาอัจฉริยภาพทางวิทยาศาสตร์สำหรับเด็กและเยาวชน (JSTP) 
            เป็นกิจกรรมที่เปิดโอกาสให้นักเรียนผู้ทำโครงการได้นำเสนอความก้าวหน้าในโครงงานของตนเองกับคณะกรรมการผู้มีความรู้
            เพื่อรับฟังคำชี้แนะที่สามารถนำไปปรับใช้ในโครงงานต่อไปได้
        </p>
        <p>
            ในกิจกรรม เราสามารถแบ่งการนำเสนออกมาเป็น 2 ครั้งย่อยได้แก่: การนำเสนอความก้าวหน้า 50% และ  การนำเสนอความก้าวหน้า 100%
            สำหรับโครงการ JSTP รุ่นที่ 26 ประจำปี 2566 การนำเสนอครั้งแรกจะอยู่ในช่วง 23 - 27 ตุลาคม 2566 
            และการนำเสนอครั้งสุดท้ายระหว่างวันที่ 12 - 16 พฤษภาคม 2567
        </p>
        <figure class="max-w-[500px]">
            <Image src={present1} alt="ระหว่างกิจกรรมนำเสนอความก้าวหน้า 50%" width={800} />
            <figcaption class="mt-2 text-sm text-gray-600">ระหว่างกิจกรรมนำเสนอความก้าวหน้า 50%</figcaption>
        </figure>
        <p>
            เนื้อหาของการนำเสนอครั้งแรก จะเป็นการรายงานความก้าวหน้าโครงงาน 4 เดือนที่ผ่านมาหลังจากที่เริ่มโครงการ และบอกแผนของโครงงานที่จะทำต่อไป
            เมื่อนำเสนอเสร็จก็จะได้คำแนะนำเกี่ยวกับทิศทางของโครงงานจากกรรมการ สำหรับการนำเสนอครั้งที่สองหรือครั้งสุดท้าย จะเป็นการนำเสนอโครงงาน
            ฉบับสมบูรณ์ ที่มีผลต่อการคำนวนคะแนนสำหรับแข่งขันได้รับทุน JSTP ระยะยาว (ระดับผู้มีแววอัจฉริยภาพ) ที่จะคัดเลือกเพียงแค่ 1 คนในแต่ละสาขาเท่านั้น
        </p>
        <figure class="max-w-[500px]">
            <Image src={present2} alt="ระหว่างกิจกรรมนำเสนอความก้าวหน้า 100%" width={800} />
            <figcaption class="mt-2 text-sm text-gray-600">ระหว่างกิจกรรมนำเสนอความก้าวหน้า 100%</figcaption>
        </figure>
        <h2>กิจกรรมอื่นๆในโครงการ</h2>
        <p>
          หลังจากที่ทุกคนนำเสนอผลงานของตนเองเสร็จแล้ว ก็จะมีกิจกรรมละลายพฤติกรรมที่จะช่วยให้รู้จักเพื่อน ๆ ในค่ายมากขึ้น 
          ซึ่งกิจกรรมนี้จะผสมผสานความรู้ทางวิชาการด้วย เช่นกิจกรรมพัฒนาทักษะการสื่อสารและการทำงานร่วมกับผู้อื่น โดยในคืนนั้นทุกคนจะพักค้างคืนที่บ้านวิทยาศาสตร์สิรินธรอีกหนึ่งคืน
          เพื่อเตรียมตัวสำหรับกิจกรรมทัศนศึกษาในวันถัดไป
        </p>
        <h3>หลังการนำเสนอความก้าวหน้าโครงงาน 50%</h3>
        <p>
          ได้ไปทัศนศึกษาที่ศูนย์ฝึกอบรมธนาคารไทยพาณิชย์ หาดตะวันรอน จังหวัดชลบุรี ทัศนศึกษาที่ศูนย์อนุรักษ์พันธุ์เต่าทะเลและสถาบันวิทยาศาสตร์ทางทะเล พร้อมเข้าฟังบรรยายและร่วมกิจกรรมพัฒนาทักษะด้านการเงินและความสำเร็จจากทีม CSR ธนาคารไทยพาณิชย์
        </p>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-2">
          <figure class="max-w-[500px]">
            <Image src={activity6} alt="นักเรียนทุกคนรับเกียรติบัตรพร้อมกันหลังจากที่จบค่าย JSTP" width={800} />
            <figcaption class="mt-2 text-sm text-gray-600">กิจกรรมละลายพฤติกรรมหลังจากการนำเสนอ 
              พร้อมฟังกำหนดการกิจกรรมทัศนศึกษาในวันถัดไป</figcaption>
          </figure>
          <figure class="max-w-[500px]">
            <Image src={activity1} alt="รูปรวม" width={800} />
            <figcaption class="mt-2 text-sm text-gray-600">This is a description text below the image.</figcaption>
          </figure>
          <figure class="max-w-[500px]">
            <Image src={activity8} alt="ทัศนศึกษา ณ สถาบันวิทยาศาสตร์ทางทะเล มหาวิทยาลัยบูรพา" width={800} />
            <figcaption class="mt-2 text-sm text-gray-600">ทัศนศึกษา ณ สถาบันวิทยาศาสตร์ทางทะเล มหาวิทยาลัยบูรพา</figcaption>
          </figure>
          <figure class="max-w-[500px]">
            <Image src={activity7} alt="ทัศนศึกษาที่ศูนย์อนุรักษ์พันธุ์เต่าทะเลและสถาบันวิทยาศาสตร์ทางทะเล" width={800} />
            <figcaption class="mt-2 text-sm text-gray-600">ทัศนศึกษาที่ศูนย์อนุรักษ์พันธุ์เต่าทะเลและสถาบันวิทยาศาสตร์ทางทะเล กองทัพเรือ สัตหีบ จังหวัดชลบุรี</figcaption>
          </figure>
          <figure class="max-w-[500px]">
            <Image src={activity10} alt="รูปรวม" width={800} />
            <figcaption class="mt-2 text-sm text-gray-600">This is a description text below the image.</figcaption>
          </figure>
          <figure class="max-w-[500px]">
            <Image src={activity9} alt="รูปรวม" width={800} />
            <figcaption class="mt-2 text-sm text-gray-600">This is a description text below the image.</figcaption>
          </figure>
        </div>

        <h3>หลังการนำเสนอความก้าวหน้าโครงงาน 100%</h3>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-2">
          <figure class="max-w-[500px]">
            <Image src={activity13} alt="กิจกรรมล่องแก่ง ณ อ.แก่งกระจาน จ.เพชรบุรี" width={800} />
            <figcaption class="mt-2 text-sm text-gray-600">กิจกรรมล่องแก่ง ณ อ.แก่งกระจาน จ.เพชรบุรี</figcaption>
          </figure>
          <figure class="max-w-[500px]">
            <Image src={activity5} alt="กิจกรรมล่องแก่ง ณ อ.แก่งกระจาน จ.เพชรบุรี" width={800} />
            <figcaption class="mt-2 text-sm text-gray-600">กิจกรรมล่องแก่ง ณ อ.แก่งกระจาน จ.เพชรบุรี</figcaption>
          </figure>
          <figure class="max-w-[500px]">
            <Image src={activity2} alt="นาน่ารีสอร์ทแก่งกระจาน" width={800} />
            <figcaption class="mt-2 text-sm text-gray-600">นาน่ารีสอร์ทแก่งกระจาน</figcaption>
          </figure>
          <figure class="max-w-[500px]">
            <Image src={activity11} alt="รูปรวม" width={800} />
            <figcaption class="mt-2 text-sm text-gray-600">This is a description text below the image.</figcaption>
          </figure>
          <figure class="max-w-[500px]">
            <Image src={activity12} alt="รูปรวม" width={800} />
            <figcaption class="mt-2 text-sm text-gray-600">This is a description text below the image.</figcaption>
          </figure>
          <figure class="max-w-[500px]">
            <Image src={activity4} alt="รูปรวม" width={800} />
            <figcaption class="mt-2 text-sm text-gray-600">This is a description text below the image.</figcaption>
          </figure>
        </div>

        <h2>สิ่งที่ได้รับจากโครงการ JSTP</h2>
        <figure class="max-w-[500px]">
            <Image src={activity3} alt="นักเรียนทุกคนรับเกียรติบัตรพร้อมกันหลังจากที่จบค่าย JSTP" width={800} />
            <figcaption class="mt-2 text-sm text-gray-600">นักเรียนทุกคนรับเกียรติบัตรพร้อมกันหลังจากที่จบค่าย JSTP / JSTP-SCB</figcaption>
        </figure>
        <p>การได้เข้าร่วมโครงการพัฒนาอัจฉริยภาพเยาวชน หรือ JSTP นับเป็นประสบการณ์ที่ล้ำค่ามากสำหรับผม 
          โครงการนี้ได้เปิดโอกาสให้เยาวชนที่สนใจในวิทยาศาสตร์และเทคโนโลยีได้พัฒนาศักยภาพและทักษะที่สำคัญ 
          เพื่อก้าวไปสู่การเป็นนักวิจัยหรือนักวิทยาศาสตร์ในอนาคต สำหรับผมแล้ว สิ่งที่ได้รับจากโครงการนี้มีมากมาย ไม่เพียงแค่ความรู้ทางวิชาการ 
          แต่ยังรวมถึงการเรียนรู้ทักษะการทำงานร่วมกับผู้อื่นและการคิดเชิงวิเคราะห์อย่างลึกซึ้ง
        </p>
        <p>หนึ่งในประสบการณ์ที่สำคัญที่สุดจากโครงการ JSTP คือการเรียนรู้การทำวิจัยในเชิงลึก ผมได้เข้าใจถึงกระบวนการตั้งคำถามวิจัย 
          การออกแบบการทดลอง และการวิเคราะห์ผลที่เกิดขึ้น ความท้าทายเหล่านี้ช่วยฝึกฝนให้ผมมีความอดทน มีวิจารณญาณในการแก้ไขปัญหา 
          และสามารถคิดอย่างเป็นระบบ นอกจากนี้ ผมยังได้ฝึกทักษะในการทำงานเป็นทีม ได้เรียนรู้จากเพื่อนร่วมโครงการและที่ปรึกษาที่มีความเชี่ยวชาญในด้านต่าง ๆ 
          ซึ่งเป็นการเปิดมุมมองใหม่ ๆ ให้กับการเรียนรู้
        </p>
        <p>โครงการ JSTP ยังช่วยให้ผมได้พัฒนาทักษะการสื่อสาร ทั้งการนำเสนอผลงานและการอธิบายแนวคิดทางวิทยาศาสตร์ให้คนอื่นเข้าใจ 
          การทำงานร่วมกับผู้เชี่ยวชาญและเพื่อนร่วมทีมจากหลากหลายสาขา ช่วยเพิ่มความสามารถในการทำงานร่วมกันและการฟังความคิดเห็นของผู้อื่น 
          ซึ่งเป็นทักษะที่สำคัญสำหรับอนาคต
        </p>
        <p>สุดท้ายนี้ ผมอยากขอบคุณทุกคนที่มีส่วนในการมอบโอกาสอันมีค่านี้ให้กับผม ขอบคุณคณะผู้จัดโครงการ อาการย์ที่ปรึกษา 
          และเพื่อน ๆ ร่วมโครงการทุกคนที่ได้แบ่งปันความรู้ ประสบการณ์ และแรงบันดาลใจ การเข้าร่วมโครงการ JSTP 
          ทำให้ผมเติบโตขึ้นทั้งในด้านวิชาการและการพัฒนาตนเอง และผมเชื่อว่าประสบการณ์นี้จะเป็นส่วนสำคัญในการก้าวสู่เส้นทางอาชีพที่ผมใฝ่ฝันต่อไป
        </p>
    </div>
</Layout>