---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';

//import images
import thumbnail1 from '../assets/jstp/jstp-14.jpg';
import thumbnail2 from '../assets/ham/ham-6.jpg';
import thumbnail3 from '../assets/jstp/jstp-11.jpg';
import thumbnail4 from '../assets/f1/f1-1.jpg';
import thumbnail5 from '../assets/is/is-3.jpg';
import thumbnail6 from '../assets/ham/ham-4.jpg';
import thumbnail7 from '../assets/ham/ham-2.jpg';
import thumbnail8 from '../assets/ham/dca-5.jpg';
import thumbnail9 from '../assets/ham/trx-1.jpg';
import thumbnail10 from '../assets/mc-animation/mc-2.png';
import thumbnail11 from '../assets/robot-arm/robot-arm-1.jpg';
import thumbnail12 from '../assets/scicom/intern-2.jpg';
import thumbnail13 from '../assets/scicom/camp-1.jpg';
import thumbnail14 from '../assets/art-n-craft/art-n-craft-2.jpg';

---

<Layout title='ผลงาน | nabtang.cc เว็บไซต์ Portfolio ออนไลน์ Dek68'>
    <!-- <section class="relative h-screen w-full"></section> -->
    <h1 class="text-center text-3xl lg:text-4xl font-bold">ผลงานทั้งหมด</h1>
    <div class="grid grid-cols-3 gap-x-8 gap-y-8 max-md:grid-cols-1 max-lg:grid-cols-2 px-4 md:px-8 mt-8">
        <!-- JSTP -->
        <article>
            <a
                href="/jstp"
            >
                <Image
                    src={thumbnail1}
                    alt="jstp"
                    width={800}
                    loading="eager"
                    class="rounded-2xl shadow-xl mb-6 aspect-thumbnail object-cover"
                />
            </a>
        
            <a
                href="/jstp"
                class="text-2xl text-zinc-900 mb-4 font-semibold line-clamp-2"
            >Junior Science Talent Project (JSTP) โดย สวทช. แขนกลสำหรับติดตามดาวเทียมกิจการวิทยุสมัครเล่น
            </a>
        
            <p class="text-zinc-500 text-l mb-9 line-clamp-2">
                ได้รับการคัดเลือกเป็น 1 ใน 50 คนจากทั่วประเทศ ประกอบแขนกลติดตามดาวเทียม ที่โคจรเข้ามาในน่านฟ้าประเทศไทย 
                และทดสอบประสิทธิภาพของแขนกลให้อยู่ในเกณฑ์ที่จะสามารถนำไปใช้งานได้จริงต่อไปในอนาคต
            </p>
        </article>

        <!-- Amateur Radio -->
        <article>
            <a
                href="/ham"
            >
                <Image
                    src={thumbnail2}
                    alt="รวมสิ่งประดิษฐ์และผลงานของผมที่เกี่ยวข้องกับกิจการวิทยุสมัครเล่น"
                    width={800}
                    loading="eager"
                    class="rounded-2xl shadow-xl mb-6 aspect-thumbnail object-cover"
                />
            </a>
        
            <a
                href="/ham"
                class="text-2xl text-zinc-900 mb-4 font-semibold line-clamp-2"
            >รวมสิ่งประดิษฐ์และผลงานของผมที่เกี่ยวข้องกับกิจการวิทยุสมัครเล่น
            </a>
        
            <p class="text-zinc-500 text-l mb-9 line-clamp-2">
                นักวิทยุสมัครเล่นมีความเกี่ยวข้องกับวิศวกรรมหลายด้าน เช่น วิศวกรรมเครื่องกล วิศวกรรมไฟฟ้า อิเล็กทรอนิกส์ และคอมพิวเตอร์ 
                โดยต้องมีทักษะในการออกแบบและการสร้างอยู่ทั้งด้านเครื่องกล และไฟฟ้า การสร้างและปรับปรุงเสาอากาศ และการใช้งานซอฟต์แวร์สื่อสารต่าง ๆ 
            </p>
        </article>

        <!-- Knacksat -->
        <article>
            <a
                href="/projects/knacksat3"
            >
                <Image
                    src={thumbnail3}
                    alt="ham"
                    width={800}
                    loading="eager"
                    class="rounded-2xl shadow-xl mb-6 aspect-thumbnail object-cover"
                />
            </a>
        
            <a
                href="/projects/knacksat3"
                class="text-2xl text-zinc-900 mb-4 font-semibold line-clamp-2"
            >โครงการดาวเทียมเพื่อการศึกษาเรียนรู้ KNACKSAT3 มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าพระนครเหนือ (มจพ.)
            </a>
        
            <p class="text-zinc-500 text-l mb-9 line-clamp-2">
                1 ใน 25 คน จากทั่วประเทศ ที่ได้รับคัดเลือกให้เป็นทีมงานพัฒนาดาวเทียม Knacksat 3 
                ของมหาวิทยาลัยเทคโนโลยีพระจอมเกล้าพระนครเหนือ (มจพ.) และได้อยู่ในแผนก Ground Station
            </p>
        </article>

         <!-- IS -->
         <article>
            <a
                href="/projects/is"
            >
                <Image
                    src={thumbnail5}
                    alt="is"
                    width={800}
                    class="rounded-2xl shadow-xl mb-6 aspect-thumbnail object-cover"
                />
            </a>
        
            <a
                href="/projects/is"
                class="text-2xl text-zinc-900 mb-4 font-semibold line-clamp-2"
            >การนำเสนอผลงานวิจัยหัวข้อ “Relationship between Smartphones and Insomnia”
            </a>
        
            <p class="text-zinc-500 text-l mb-9 line-clamp-2">
                ได้รับรางวัลชนะเลิศ และได้รับโอกาสในการตีพิมพ์ในวารสารวิจัยของมหาวิทยาลัยมหิดล 
                โดยงานวิจัยนี้ มุ่งเน้นการศึกษาความสัมพันธ์ระหว่างการใช้งานสมาร์ทโฟนและปัญหาการนอนไม่หลับ 
                ผ่านการแจกแบบสอบถามออนไลน์ให้กับกลุ่มตัวอย่าง
            </p>
        </article>

         <!-- Ham License -->
         <article>
            <a
                href="/projects/ham-license"
            >
                <Image
                    src={thumbnail6}
                    alt="is"
                    width={800}
                    class="rounded-2xl shadow-xl mb-6 aspect-thumbnail object-cover"
                />
            </a>
        
            <a
                href="/projects/ham-license"
                class="text-2xl text-zinc-900 mb-4 font-semibold line-clamp-2"
            >ได้รับใบประกาศนียบัตรนักวิทยุสมัครเล่นขั้นต้น กลาง สูง และมีใบอนุญาตให้ออกอากาศ
            </a>
        
            <p class="text-zinc-500 text-l mb-9 line-clamp-2">
                มุ่งมั่นสอบใบอนุญาตวิทยุสมัครเล่นขั้นต้นเมื่ออายุ 15 ปี หลังจากนั้น ได้สอบผ่าน FCC Amateur Radio License ARRL VEC 
                Examination (US Exam) ขั้น Technician, General และ Extra ซึ่งเป็นขั้นที่สูงที่สุด
            </p>
        </article>

         <!-- Formula 1 -->
         <article>
            <a
                href="/projects/f1"
            >
                <Image
                    src={thumbnail4}
                    alt="f1"
                    width={800}
                    class="rounded-2xl shadow-xl mb-6 aspect-thumbnail object-cover"
                />
            </a>
        
            <a
                href="/projects/f1"
                class="text-2xl text-zinc-900 mb-4 font-semibold line-clamp-2"
            >สร้างรถ Formula 1 บังคับโดยใช้ชิ้นส่วนที่ถูกผลิตจากเครื่องพิมพ์ 3D
            </a>
        
            <p class="text-zinc-500 text-l mb-9 line-clamp-2">
                ได้รับรางวัลชนะเลิศ และได้รับโอกาสในการตีพิมพ์ในวารสารวิจัยของมหาวิทยาลัยมหิดล 
                โดยงานวิจัยนี้ มุ่งเน้นการศึกษาความสัมพันธ์ระหว่างการใช้งานสมาร์ทโฟนและปัญหาการนอนไม่หลับ 
                ผ่านการแจกแบบสอบถามออนไลน์ให้กับกลุ่มตัวอย่าง
            </p>
        </article>

         <!-- ISS Repeater -->
         <article>
            <a
                href="/projects/iss-repeater"
            >
                <Image
                    src={thumbnail7}
                    alt="f1"
                    width={800}
                    class="rounded-2xl shadow-xl mb-6 aspect-thumbnail object-cover"
                />
            </a>
        
            <a
                href="/projects/iss-repeater"
                class="text-2xl text-zinc-900 mb-4 font-semibold line-clamp-2"
            >ติดต่อกับนักวิทยุสมัครเล่น ผ่านสถานีทวนสัญญานบนสถานีอวกาศนานาชาติ(ISS)
            </a>
        
            <p class="text-zinc-500 text-l mb-9 line-clamp-2">
                ได้รับรางวัลชนะเลิศ และได้รับโอกาสในการตีพิมพ์ในวารสารวิจัยของมหาวิทยาลัยมหิดล 
                โดยงานวิจัยนี้ มุ่งเน้นการศึกษาความสัมพันธ์ระหว่างการใช้งานสมาร์ทโฟนและปัญหาการนอนไม่หลับ 
                ผ่านการแจกแบบสอบถามออนไลน์ให้กับกลุ่มตัวอย่าง
            </p>
        </article>

        <!-- DCA -->
        <article>
           <a
               href="/projects/dca"
           >
               <Image
                   src={thumbnail8}
                   alt="f1"
                   width={800}
                   class="rounded-2xl shadow-xl mb-6 aspect-thumbnail object-cover"
               />
           </a>
       
           <a
               href="/projects/dca"
               class="text-2xl text-zinc-900 mb-4 font-semibold line-clamp-2"
           >สร้างสายอากาศ Double Cross Dipole รับสัญญาณดาวเทียม NOAA
           </a>
       
           <p class="text-zinc-500 text-l mb-9 line-clamp-2">
            ดัดแปลงโครงสร้างของสายอากาศ ทดลองรับสัญญานจากดาวเทียม และนำขึ้นไปติดตั้งบนหลังคาบ้านโดยได้รับความช่วยเหลือจากคุณพ่อและน้องชาย
           </p>
       </article>

       <!-- CW TRX -->
       <article>
          <a
              href="/projects/trx"
          >
              <Image
                  src={thumbnail9}
                  alt="f1"
                  width={800}
                  class="rounded-2xl shadow-xl mb-6 aspect-thumbnail object-cover"
              />
          </a>
      
          <a
              href="/projects/trx"
              class="text-2xl text-zinc-900 mb-4 font-semibold line-clamp-2"
          >ประกอบเครื่องรับส่งสัญญาณวิทยุรหัสมอร์สที่สามารถทำงานได้จริงด้วยตนเอง
          </a>
      
          <p class="text-zinc-500 text-l mb-9 line-clamp-2">
            ประกอบเครื่องรับส่งสัญญาณวิทยุรหัสมอร์สคลื่นความถี่ย่าน HF มีต้นแบบมาจากนักวิทยุสมัครเล่นชาวเยอรมัน (DM3MAT)
          </p>
      
        </article>

        <!-- Student Arts And Crafts Competition -->
        <article>
            <a
                href="/projects/art-n-craft"
            >
                <Image
                    src={thumbnail14}
                    alt="f1"
                    width={800}
                    class="rounded-2xl shadow-xl mb-6 aspect-thumbnail object-cover"
                />
            </a>

            <a
                href="/projects/art-n-craft"
                class="text-2xl text-zinc-900 mb-4 font-semibold line-clamp-2"
            >การแข่งขันศิลปหัตถกรรมนักเรียน ครั้งที่ 70 ปีการศึกษา 2565 ระดับเขตพื้นที่การศึกษา
            </a>

            <p class="text-zinc-500 text-l mb-9 line-clamp-2">
                รายการแข่ง “การแข่งขันหุ่นยนต์ระดับสูง ม.4 - ม.6”
            </p>
        </article>
        
        <!-- Minecraft Animation -->
        <article>
            <a
                href="/projects/trx"
            >
                <Image
                    src={thumbnail10}
                    alt="f1"
                    width={800}
                    class="rounded-2xl shadow-xl mb-6 aspect-thumbnail object-cover"
                />
            </a>

            <a
                href="/projects/trx"
                class="text-2xl text-zinc-900 mb-4 font-semibold line-clamp-2"
            >ทดลองสร้าง Minecraft Animation โดยใช้โปรแกรม Blender
            </a>

            <p class="text-zinc-500 text-l mb-9 line-clamp-2">
                ประกอบเครื่องรับส่งสัญญาณวิทยุรหัสมอร์สคลื่นความถี่ย่าน HF มีต้นแบบมาจากนักวิทยุสมัครเล่นชาวเยอรมัน (DM3MAT)
            </p>
        </article>

        <!-- Robot Arm -->
        <article>
            <a
                href="/projects/trx"
            >
                <Image
                    src={thumbnail11}
                    alt="f1"
                    width={800}
                    class="rounded-2xl shadow-xl mb-6 aspect-thumbnail object-cover"
                />
            </a>

            <a
                href="/projects/trx"
                class="text-2xl text-zinc-900 mb-4 font-semibold line-clamp-2"
            >ผ่านการอบรม "Robot Arm 101 - Robot Arm Design and Fabrication"
            </a>

            <p class="text-zinc-500 text-l mb-9 line-clamp-2">
                ประกอบเครื่องรับส่งสัญญาณวิทยุรหัสมอร์สคลื่นความถี่ย่าน HF มีต้นแบบมาจากนักวิทยุสมัครเล่นชาวเยอรมัน (DM3MAT)
            </p>
        </article>

        <!-- Robot Arm -->
        <article>
            <a
                href="/projects/trx"
            >
                <Image
                    src={thumbnail12}
                    alt="f1"
                    width={800}
                    class="rounded-2xl shadow-xl mb-6 aspect-thumbnail object-cover"
                />
            </a>

            <a
                href="/projects/trx"
                class="text-2xl text-zinc-900 mb-4 font-semibold line-clamp-2"
            >ฝึกงานภาคฤดูร้อน ณ บริษัท เอเชียพรีซิชั่นโมล จำกัด
            </a>

            <p class="text-zinc-500 text-l mb-9 line-clamp-2">
                ประกอบเครื่องรับส่งสัญญาณวิทยุรหัสมอร์สคลื่นความถี่ย่าน HF มีต้นแบบมาจากนักวิทยุสมัครเล่นชาวเยอรมัน (DM3MAT)
            </p>
        </article>

        <!-- SciCom Camp -->
        <article>
            <a
                href="/projects/trx"
            >
                <Image
                    src={thumbnail13}
                    alt="f1"
                    width={800}
                    class="rounded-2xl shadow-xl mb-6 aspect-thumbnail object-cover"
                />
            </a>

            <a
                href="/projects/trx"
                class="text-2xl text-zinc-900 mb-4 font-semibold line-clamp-2"
            >เข้าร่วมค่ายพัฒนาศักยภาพฯ เตรียมวิทย์-คอม โรงเรียนโพธิสารพิทยากร 2567
            </a>

            <p class="text-zinc-500 text-l mb-9 line-clamp-2">
                ประกอบเครื่องรับส่งสัญญาณวิทยุรหัสมอร์สคลื่นความถี่ย่าน HF มีต้นแบบมาจากนักวิทยุสมัครเล่นชาวเยอรมัน (DM3MAT)
            </p>
        </article>

        <!-- Robot Arm -->
        <article>
            <a
                href="/projects/trx"
            >
                <Image
                    src={thumbnail10}
                    alt="f1"
                    width={800}
                    class="rounded-2xl shadow-xl mb-6 aspect-thumbnail object-cover"
                />
            </a>

            <a
                href="/projects/trx"
                class="text-2xl text-zinc-900 mb-4 font-semibold line-clamp-2"
            >"SciCom-Final" พัฒนาเว็บไซต์ขายของโดยใช้ HTML, CSS, และ PHP
            </a>

            <p class="text-zinc-500 text-l mb-9 line-clamp-2">
                พัฒนาเว็บไซต์ขายของโดยใช้ HTML, CSS, และ PHP ใน repository ที่ชื่อว่า SciCom-Final
            </p>
        </article>

        <!-- Robot Arm -->
        <article>
            <a
                href="/projects/trx"
            >
                <Image
                    src={thumbnail10}
                    alt="f1"
                    width={800}
                    class="rounded-2xl shadow-xl mb-6 aspect-thumbnail object-cover"
                />
            </a>

            <a
                href="/projects/trx"
                class="text-2xl text-zinc-900 mb-4 font-semibold line-clamp-2"
            >พัฒนาเว็บไซต์บน Flask ระหว่างที่เป็นนักเรียนแลกเปลี่ยนระยะสั้น
            </a>

            <p class="text-zinc-500 text-l mb-9 line-clamp-2">
                พัฒนาเว็บไซต์ขายของโดยใช้ HTML, CSS, และ PHP ใน repository ที่ชื่อว่า SciCom-Final
            </p>
        </article>

        <!-- Robot Arm -->
        <article>
            <a
                href="/projects/trx"
            >
                <Image
                    src={thumbnail10}
                    alt="f1"
                    width={800}
                    class="rounded-2xl shadow-xl mb-6 aspect-thumbnail object-cover"
                />
            </a>

            <a
                href="/projects/trx"
                class="text-2xl text-zinc-900 mb-4 font-semibold line-clamp-2"
            >พัฒนาเว็บไซต์บน Flask ระหว่างที่เป็นนักเรียนแลกเปลี่ยนระยะสั้น
            </a>

            <p class="text-zinc-500 text-l mb-9 line-clamp-2">
                พัฒนาเว็บไซต์ขายของโดยใช้ HTML, CSS, และ PHP ใน repository ที่ชื่อว่า SciCom-Final
            </p>
        </article>

        <!-- Robot Arm -->
        <article>
            <a
                href="/projects/trx"
            >
                <Image
                    src={thumbnail10}
                    alt="f1"
                    width={800}
                    class="rounded-2xl shadow-xl mb-6 aspect-thumbnail object-cover"
                />
            </a>

            <a
                href="/projects/trx"
                class="text-2xl text-zinc-900 mb-4 font-semibold line-clamp-2"
            >พัฒนาเว็บไซต์บน Flask ระหว่างที่เป็นนักเรียนแลกเปลี่ยนระยะสั้น
            </a>

            <p class="text-zinc-500 text-l mb-9 line-clamp-2">
                พัฒนาเว็บไซต์ขายของโดยใช้ HTML, CSS, และ PHP ใน repository ที่ชื่อว่า SciCom-Final
            </p>
        </article>

        <!-- Robot Arm -->
        <article>
            <a
                href="/projects/trx"
            >
                <Image
                    src={thumbnail10}
                    alt="f1"
                    width={800}
                    class="rounded-2xl shadow-xl mb-6 aspect-thumbnail object-cover"
                />
            </a>

            <a
                href="/projects/trx"
                class="text-2xl text-zinc-900 mb-4 font-semibold line-clamp-2"
            >พัฒนาเว็บไซต์บน Flask ระหว่างที่เป็นนักเรียนแลกเปลี่ยนระยะสั้น
            </a>

            <p class="text-zinc-500 text-l mb-9 line-clamp-2">
                พัฒนาเว็บไซต์ขายของโดยใช้ HTML, CSS, และ PHP ใน repository ที่ชื่อว่า SciCom-Final
            </p>
        </article>
    </div>
</Layout>